@charset "utf-8";

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   14pt;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

/* colors */
$text-color:       #C8D1D4;
$background-color: #2E343E;
$link-color:       #E5CA8A;
$success-color:    #A3BA84;
$warning-color:    #A87D96;
$danger-color:     #C35760;
$selection-color:  #8AA2B6;
$cell-color:       #272C34;

$content-width:    40em;
$spacing-unit:     1.5em;

@import
  "normalize",
  "base",
  "print";
